body {
  background-color: #f5f4f8;
}
a {
  color: #bd302a;
}
label.form-label {
  margin-bottom: 0.25rem;
}
.form-control.error {
  border-color: #ff0000;
}
label.error {
  font-size: 0.75rem;
  margin-bottom: 0px;
  color: #ff0000;
}
/* HEADER CSS STARTS HERE */
.main-header {
  background-color: #fff;
}
.main-header .navbar-brand {
  width: 230px;
  height: 70px;
}
.main-header .navbar-brand > img {
  width: 100%;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-header .navbar-nav > li > a {
  color: #1f3249;
  font-size: 1.1rem;
  font-weight: bold;
}
.main-header .navbar-nav > li > a:hover {
  color: #bd302a;
}
.main-header .navbar-toggler {
  border: 1px solid #bd302a;
  margin-left: 0.5rem;
  padding: 0.5rem;
}
.main-header .navbar-toggler .icon-bar {
  width: 21px;
  height: 3px;
  background-color: #bd302a;
  display: block;
  transition: all 0.2s;
  margin-top: 0.25rem;
}
.main-header .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #bd302a;
}
.main-header .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #bd302a;
}
.main-header .navbar-toggler .middle-bar {
  opacity: 0;
}
.main-header .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.main-header .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #bd302a;
}
.main-header .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #bd302a;
}
.search-form .form-control {
  height: 55px;
}
.cart-count {
  position: absolute;
  background: #bd302a;
  color: #fff;
  width: 30px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 0.85rem;
  top: -5px;
  right: -10px;
}
@media (min-width: 1200px) {
  .navbar-default .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in;
  }
  .navbar-default .dropdown-submenu:hover > .dropdown-menu,
  .navbar-default .dropdown:hover > .dropdown-menu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  .main-header .navbar-nav > li {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}
@media (min-width: 992px) {
  .main-header .navbar-nav {
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-header .navbar-brand {
    height: 55px;
  }
}
@media (max-width: 991px) {
  .nav-top-wrap .dropdown-menu {
    position: absolute;
    margin: 0px;
  }
  .search-form {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cart-link {
    max-width: 30px;
  }
  .main-header #navbar-default > .navbar-nav {
    margin-top: 1rem;
  }
}
@media (max-width: 479px) {
  .main-header .navbar-brand {
    width: 180px;
    height: 60px;
    margin-right: 0px;
  }
}
/* HEADER CSS ENDS HERE */

/* BANNER CSS STARTS HERE */
.banner-wrapper {
  background-color: #1f3249;
  position: relative;
  min-height: 500px;
  text-align: center;
}
.hero-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  width: 100%;
  object-fit: cover;
  height: 500px;
  opacity: 0.2;
}
.banner-wrapper .btn {
  border-radius: 30px;
  height: 60px;
  padding: 0.9rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
}
.banner-wrapper .container {
  position: relative;
}

@media (min-width: 992px) {
  .banner-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-wrapper h1 {
    font-size: 4.5rem;
  }
  .banner-wrapper .lead {
    font-size: 2rem;
  }
}
@media (max-width: 479px) {
  .banner-wrapper h1 {
    font-size: 2rem;
  }
}
/* BANNER ENDS STARTS HERE */

/* FEATURES CSS STARTS HERE */
.features-wrapper h4 {
  font-size: 1.2rem;
}
.features-wrapper p {
  font-size: 0.825rem;
}
.features-wrapper .icon-lg {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}
.features-wrapper .text-dark-warning {
  color: #bd302a !important;
}
.features-wrapper .bg-light-warning {
  background-color: rgba(189, 48, 42, 0.1) !important;
}
/* FEATURES CSS STARTS HERE */

/* CARDS CSS STARTS HERE */
.course-card h4 {
  font-size: 1rem;
}
.course-card {
  padding-top: 80px;
}
.course-card h2 {
  color: #18113c;
  font-size: 1.5rem;
}
.course-card .card {
  border: 0px none !important;
  border-radius: 0.5rem;
  transition: box-shadow 0.25s ease;
  height: calc(100% - 1.5rem);
}
.course-card .card-hover:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.course-card .rounded-top,
.course-lists-container .rounded-top {
  border-top-right-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}
.course-card .card img.card-img-top,
.course-lists-container .tab-pane .card img.card-img-top {
  height: 150px;
  object-fit: cover;
  width: 100%;
}
.course-card .text-inherit {
  color: #18113c;
}
.course-card .text-inherit:hover {
  text-decoration: none;
  color: #bd302a;
}
.course-card .card-footer,
.course-lists-container .card-footer {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid #eae7f5;
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}
.course-card .list-inline .list-inline-item {
  font-size: 0.875rem;
}
.course-card .avatar-xs,
.course-lists-container .avatar-xs {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.5rem;
}
.btn-outline-primary {
  border-color: #bd302a;
  color: #bd302a;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.btn-outline-primary.btn-outline-primary:active {
  background-color: #bd302a;
  border-color: #bd302a;
  color: #fff;
}
/* CARDS CSS ENDS HERE */

/* COURSE CSS STARTS HERE */
.course-wrapper {
  background-color: #1f3249;
}
.rating-star img {
  width: 15px;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.mt-n8,
.my-n8 {
  margin-top: -3.6rem !important;
}
.nav-lb-tab {
  border-bottom: 1px solid #dbd8e9;
}
.nav-lb-tab .nav-item {
  margin: 0 1.5rem;
}
.nav-lb-tab .nav-item .nav-link {
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 16px 0;
  margin-bottom: -1px;
  font-weight: 500;
  color: #333;
}
.nav-lb-tab .nav-item .nav-link.active,
.nav-lb-tab .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid #bd302a;
  color: #bd302a;
}
.course-accordion .list-group-item > a {
  font-size: 1rem;
  color: #1f3249;
}
.course-accordion .list-group-item > div a {
  color: #1f3249;
}
.course-accordion .list-group-item > a:hover,
.course-accordion .list-group-item > div a:hover {
  color: #bd302a;
}
.review-block .avatar-lg {
  width: 3.5rem;
  height: 3.5rem;
}
.review-block .h5 {
  font-size: 1rem;
}
.review-block .h5 .font-size-xs {
  font-size: 0.75rem;
}
.review-block p {
  font-size: 0.85rem;
}
.review-block .rating-star img {
  width: 12px;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.btn-play {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  transition: 0.2s ease;
}
.btn-play:hover {
  background-color: #bd302a;
  color: #fff;
}
.btn-primary {
  background-color: #bd302a;
  border-color: #bd302a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.btn-primary.btn-primary:active {
  background-color: #97110c;
  border-color: #97110c;
}
.instructor-details .avatar-xl {
  width: 5rem;
  height: 5rem;
}
.instructor-details h4 {
  font-size: 1rem;
}
.instructor-details .font-size-xs,
.instructor-details .stats span,
.instructor-details p {
  font-size: 0.75rem;
}
.instructor-details .font-size-xs img {
  width: 10px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.instructor-details span.font-size-xs {
  display: inline-flex;
  justify-content: center;
}
.instructor-details h5 {
  font-size: 0.85rem;
}
@media (min-width: 992px) {
  .pt-lg-8,
  .py-lg-8 {
    padding-top: 3.5rem !important;
  }
  .pb-lg-16,
  .py-lg-16 {
    padding-bottom: 7.5rem !important;
  }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .mt-lg-n22,
  .my-lg-n22 {
    margin-top: -18rem !important;
  }
}
@media (max-width: 479px) {
  .nav-lb-tab {
    overflow-x: scroll;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }
  .course-wrapper h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }
}
/* COURSE CSS ENDS HERE */

/* LISTING CSS STARTS HERE */
.course-lists {
  background-color: #1f3249;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.course-lists h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
}
.course-lists-container {
  padding-top: 2.5rem;
}
.course-lists-container h4 {
  font-size: 1rem;
}
.course-lists-container .nav.btn-group .btn-outline-white.active {
  background-color: #bd302a;
  border-color: #bd302a;
  color: #fff;
}
.course-lists-container .btn-outline-white {
  border-color: #dbd8e9;
  color: #5c5776;
}
.course-lists-container .btn-secondary,
.course-lists-container .show > .btn-secondary.dropdown-toggle {
  background-color: #fff;
  color: #999;
  border-color: #999;
}
.course-lists-container .show > .btn-secondary.dropdown-toggle:active {
  border-color: #fff;
}
.course-lists-container .card {
  border: 0px none;
  border-radius: 10px !important;
}
.course-lists-container .tab-pane .card {
  height: calc(100% - 1.5rem);
}
.course-lists-container .card-header {
  background-color: #fff;
}
.course-lists-container .card-header {
  border-bottom: 1px solid #eae7f5;
}
.course-lists-container .card-body .dropdown-header {
  text-transform: uppercase;
}
.course-lists-container .card-body .dropdown-header {
  font-size: 0.6875rem;
  color: #a8a3b9;
  padding: 0.25rem 1.2rem;
  font-weight: 500;
}
.course-lists-container .custom-control-label {
  font-size: 0.875rem;
}
.custom-radio-ratings {
  padding: 1.5rem;
}
.img-left-rounded {
  border-radius: 0.5rem 0 0 0.5rem !important;
}
.text-truncate-line-2 {
  font-size: 1.25rem;
}
.bg-cover {
  background: no-repeat 50% / cover;
}
.img-hoverly {
  overflow: hidden;
}
.img-hoverly img {
  object-fit: cover;
  height: 100%;
  max-height: 100%;
  width: 100%;
}
.course-lists-container .card-hover {
  transition: all 0.25s ease-out;
}
.course-lists-container .card-hover:focus,
.card-hover:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.course-lists-container .card-body a:hover {
  text-decoration: none;
}
/* LISTING CSS ENDS HERE */

/* DASHBOARD CSS STARTS HERE */
.custom-tabs .nav-lb-tab .nav-item:first-child {
  margin-left: 0px;
}
.dashboard .course-card {
  padding-top: 20px;
}
.invoice .card-header {
  background-color: #fff;
}
.invoice .table thead th {
  background-color: #f5f4f8;
}
.invoice .table thead th,
.invoice .table tbody td {
  padding-left: 1.25rem;
}
.small-sidenav.navbar {
  background-color: #fff;
  padding: 15px;
  border-radius: 0.5rem;
}
.small-sidenav .avatar-logo {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar-name {
  font-size: 1.5rem;
}
.small-sidenav.navbar .navbar-header {
  color: #a8a3b9;
  padding: 0.3rem 0.4rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6875rem;
  font-weight: 500;
}
.small-sidenav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.3rem 0 0.3rem 0.7rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0.5rem;
  color: #18113c;
  position: relative;
  font-size: 0.875rem;
}
.small-sidenav.navbar .navbar-nav .nav-item .nav-link .nav-icon {
  opacity: 0.6;
  margin-right: 0.5rem;
}
.small-sidenav.navbar .navbar-nav .nav-item .nav-link:hover,
.small-sidenav.navbar .navbar-nav .nav-item.active .nav-link {
  background-color: rgba(31, 50, 73, 0.1);
  color: rgba(31, 50, 73, 1) !important;
}
.courses-table {
  width: 100%;
}
.courses-table tr th {
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  background-color: #f5f4f8;
}
/*.courses-table tr td {
  padding: 1rem 1.5rem;
  vertical-align: middle !important;
}*/
.courses-table tr td {
  padding: 1px;
  vertical-align: middle !important;
}
.img-4by3-lg {
  width: 6.5rem;
}
.courses-table h5 {
  color: #000;
}
.courses-table a:hover {
  text-decoration: none;
}
.notifications {
  width: 2.5rem;
  height: 2.5rem;
}
.notifications img {
  border-radius: 50%;
  width: 100%;
}
.bg-light {
  background-color: #fff !important;
}
/* DASHBOARD CSS ENDS HERE */

/* LOGIN CSS STARTS HERE */
.logo-small {
  width: 150px;
}

/* PAYMENT CSS STARTS HERE */
.payment-method .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-method .btn > .icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  display: inline-block;
}
.payment-method .btn > .credit-card {
  background: url(../img/creditcard_icon.svg) no-repeat center center
    transparent;
  background-size: 100%;
}
.payment-method .btn:hover > .credit-card {
  background: url(../img/creditcard_icon_hover.svg) no-repeat center center
    transparent;
  background-size: 100%;
}
.payment-method .btn > .online-banking {
  background: url(../img/online_banking_icon.svg) no-repeat center center
    transparent;
  background-size: 100%;
}
.payment-method .btn:hover > .online-banking {
  background: url(../img/online_banking_icon_hover.svg) no-repeat center center
    transparent;
  background-size: 100%;
}
.payment-method .btn > .flywire {
  background: url(../img/flywire_icon.svg) no-repeat center center transparent;
  background-size: 100%;
}
.payment-method .btn:hover > .flywire {
  background: url(../img/flywire_icon_hover.svg) no-repeat center center
    transparent;
  background-size: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
.loader-icon {
  font-size: 5rem;
  animation: spin 2s linear infinite;
  display: flex;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .payment-method .btn {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .payment-method .btn {
    min-height: 80px;
  }
}
/* PAYMENT CSS ENDS HERE */

/* TESTIMONIAL CSS STARTS HERE */
.testimonial-wrapper {
  background: url(../img/abstract-shapes-20.svg) repeat left top #1f3249;
  border-radius: 0.75rem;
}
.testimonial-wrapper .carousel-item blockquote {
  line-height: 1.6;
}
.text-white-70 {
  color: rgba(255, 255, 255, 0.7);
}
.testimonial-wrapper .avatar {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border: 2px solid #fff;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
}
.testimonial-wrapper .avatar-circle,
.testimonial-wrapper .avatar-circle .avatar-img {
  border-radius: 50%;
}
@media (min-width: 992px) {
  .mx-lg-10 {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
  .w-lg-75 {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .testimonial-wrapper .carousel-item blockquote {
    font-size: 1rem;
  }
}
/* TESTIMONIAL CSS ENDS HERE */

/* OUR PARTNERS CSS STARTS HERE */
.our-partners .carousel-item {
  margin-bottom: 2rem;
}
.our-partners .carousel-item .img-fluid {
  max-width: 10rem;
}
.our-partners .carousel-indicators li {
  background-color: #bd302a;
}
@media (max-width: 767px) {
  .our-partners .carousel-item .img-fluid {
    width: 100%;
  }
}
/* OUR PARTNERS CSS ENDS HERE */

.category-card {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #1f3249;
  border: 0px none;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.category-card > img {
  opacity: 0.3;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.category-card:hover > img {
  transform: scale(1.2);
  opacity: 0.2;
}
.category-card .category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  font-size: 1.5rem;
  text-align: center;
}

.filter-wrapper {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter-dropdown .custom-control {
  padding: 0.25rem 0.25rem 0.25rem 2rem;
}
.filter-dropdown .custom-control:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.select2-container.select2-container--default .select2-selection--single {
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
}
.select2-container.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: calc(1.5em + 0.75rem + 2px);
}
